.footer-main{
    display: flex ;
     justify-content: space-between;
    margin: 20px auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
@media(max-width : 950px){
    .footer-main{
    
    width: 100%;
    }

}
@media(max-width : 700px){
    .footer-main{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .footer-main1 ,.footer-main2{
        width: 100% !important;
        justify-content: space-around;
    }
}
footer{
    margin-top: 40px;
    border-top:1px solid rgb(236, 232, 232) ;
    width: 100%;
    background-color: #F4F4F4;
}

.footer-main>div>p{
font-size: medium;cursor: pointer;

}

.footer-main>div>h4{
    cursor: pointer;

font-weight: 800 !important;
font-size: large !important;
margin-bottom: 40px;
}

.footer-icon>div{
    margin-left: 10px;
}
.footer-icon{
display: flex;
margin-bottom: 40px;


}
.footer-svg2{
    margin-top: 30px;
}
.footer-main1{
    display: flex !important;
    justify-content: space-around;
width: 60%;
}
.footer-main2{
    display: flex;
    justify-content: space-around;
width: 40%;
}

